
* {                                          
}

/*
* layout voor homepagina 
*/

html, body {                     
  margin: 0px;                    
  background-color: #000000;    
  color: #ffffff;               
}  

body * {                          
  overflow: hidden;               
  box-sizing: border-box;        
  margin: 0px;                  
}


.page {
  width: 700px;                   
  margin: 10px auto;              
}
.foto {margin-top: 5px;
      }
header, footer {                  
  margin: 10px 0px;
}

main {                       
  text-align: justify;
}

h1, h2, h3 {                      
  margin: 10px 0px;
  text-align: center;             
} 

p {
  margin: 10px 0px;
  text-align: justify;            
}


.kolomLinks {
  float:left;
  width:250px;
  padding-right:15px;           
}
.kolomRechts {
  float:left;
  width: 450px;
}
.kolomStop {
  clear:both;                   
}

.links {
  float: right;
}
h1, h2, h3 {
      color: red;
}
.checked {
  color: orange;
}
.smalltext {
    text-align: center;
    font-size: 0.7em;
}
.smalltextcenter {
  text-align: center;
  front-size: 1em;
}
a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/** Layout voor films */
.optie {
  width:auto;
  height:17em;
  max-width: 25%;
}


nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #ff0000;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #aaaaaa;
}

nav li a.active {
    background-color: skyblue;
}

.hover{
  background-color:rgb(177, 43, 43);
}
/**layout Contact*/
.map{
  position:relative;
  text-align:right;
  height:500px;
  width:305px;
}
.mapskaart{
  overflow:hidden;
  background:none!important;
  height:500px;
  width:305px;
}
